imgRec/x64/
imgRec/opencvtest.dir/
imgRec/CMakeFiles/
SoundRecognition/ipch/SOUNDRECOGNITION-dacacd3/SOUNDRECOGNITION-429a5a76.ipch
*.db
*.tlog
SoundRecognition/Debug/
SoundRecognition/Release/
SoundRecognition/SoundRecognition/Release/
SoundRecognition/SoundRecognition/Samples/desktop.ini
*.idb
*.rar
*.suo
*.opendb
*.obj
*.log
*.pch
*.enc
*.pdb
*.ipch
